* {
  box-sizing: border-box;
  margin: 0;
  padding:0;
}


@keyframes expand {
  0% {
    width: 70px;
  }
  50% {
    width: 50%;
  }
  100% {
    width: 50%;
  }
}

@keyframes expand {
  0% {
    width: 70px;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 100%;
  }
}

@keyframes roll {
  0% {
    transform: translateX(-70px);
  }
  50% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(0px);
  }
}

.nav-animation {
  animation: 1s expand forwards;
}

.nav-text-animation {
  animation: 1s roll forwards;
}