* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}


@keyframes expand {
  0% {
    width: 70px;
  }

  50% {
    width: 50%;
  }

  100% {
    width: 50%;
  }
}

@keyframes expand {
  0% {
    width: 70px;
  }

  50% {
    width: 100%;
  }

  100% {
    width: 100%;
  }
}

@keyframes roll {
  0% {
    transform: translateX(-70px);
  }

  50% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(0px);
  }
}

.nav-animation {
  animation: 1s expand forwards;
}

.nav-text-animation {
  animation: 1s roll forwards;
}

.gradient-text {
  /* Fallback: Set a background color. */
  background-color: red;

  /* Create the gradient. */
  background-image: linear-gradient(45deg, #819df7, #085ef3);

  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}